.modalbutton
{
	border:0px;
	background-color:#FFFFFF; 
	color: #006699;
	text-decoration: none;
	font-weight: bold;
	padding:0px;
	margin:0px;
	padding-top:20px;
	text-align:left;
	background: #F6F6FF;

}


