body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000000;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000000;
}

.tab{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	padding-bottom:4px;
	padding-top:4px;
	border-bottom: 1px solid #005F8F;
	border-top: 1px solid #005F8F;
}

.clear{ clear:both; font-size:0px; line-height:0px; height:0px; }


.text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000000;
}

.message_text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #000000;
}

.title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
    font-weight: bold;
	color: #006699;
}

.title_modal {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
    font-weight: bold;
	color: #006699;
}

.list_modal {
	padding-left:15px;
}

.section {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
    font-weight: bold;
	color: #000000;
}

.error {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    font-weight: bold;
	color: #FF0000;
}


.message {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    font-weight: bold;
	color: #006699;
}

.small {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #006699;
}

.button {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000000;
}

.action {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #000000;
}

.label {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -4px;
    line-height: 24px;
	color: #006699;
	white-space: nowrap;
}

.table_line {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -4px;
    line-height: 18px;
	color: #006699;
}

.value {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -4px;
    line-height: 24px;
	color: #006699;
}

.highlite_value {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -4px;
    line-height: 24px;
	color: #AD072B;
}

.highlite_value_bold {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -4px;
    line-height: 24px;
	color: #AD072B;
	font-weight:bold;
}


.list_header {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    font-weight: bold;
    margin-top: -4px;
    line-height: 18px;
	color: #FFFFFF;
    background: #006699;
}    

.list_footer {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    font-weight: bold;
    margin-top: -4px;
    line-height: 18px;
	color: #006699;
    background: #FFFFFF;
}    

.list_group {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    font-weight: bold;
    margin-top: -2px;
    line-height: 18px;
	color: #FFFFFF;
    background: #7FB2CC;
}

.list_text_odd {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -2px;
    line-height: 18px;
	color: #000000;
}

.list_text_even {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -2px;
    line-height: 18px;
	color: #000000;
    background: #F6F6FF;
}

a {
	color: #006699;
	text-decoration: none;
	font-weight: bold;
}

.tmp_a {
	color: #006699;
	text-decoration: none;
	border-bottom: 1px dashed #000000;
}

a:hover {
    color: #FF0000;
	text-decoration: none;
}

textarea {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000000;
	overflow: auto;
}


.stepcounter
{
	vertical-align:-25%;
	margin-right:4px;
	padding-right:4px;

}

.step_inactive
{
	color: #00000;
	text-decoration: none;
	padding-right:8px;
}

.step_active
{
	color: #006699;
	text-decoration: none;
	font-weight: bold;
	padding-right:8px;
}

tr.myDragClass td {
    color: yellow;
    background-color: black;
}

.table_tracking{width:600px;border-collapse: collapse;}
.tr_tracking {}
.td_tracking_nobr{vertical-align:top;white-space: nowrap;border-bottom: 1px solid #CCC;padding: 0 0.5em;}
.td_tracking{vertical-align:top;border-bottom: 1px solid #CCC;padding: 0 0.5em;}

.red {
	color: #FF0000;
}

.green {
	color: #008800;
}

.nyroModal {
	padding-left:15px;
}


.my_container {
		   color: orange;
		}
		 
.my_header {
   font-family: Arial;
   font-size: 16px;
   font-style: oblique;
   font-weight: bold;
   letter-spacing: 2px;
   background: #EEEEEE;
}
 
.my_frame {
   letter-spacing: 3px;
   font-size: 14px;
}
 
.my_footer {
   letter-spacing: 2px;
   background: #eee;
   color: #333;
}
 
.my_selected_header {
   background: #F6F6FF;
}

.toggler {
	font-size:14px;
	cursor:pointer;
	margin-right:6px;
	color: #006699;
}

.toggler_pointer {
	cursor:pointer;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
    font-weight: bold;
	color: #000000;
}

.toggler_pointer_off {
	display:none;
}

.checker {
	font-size:14px;
	cursor:pointer;
	margin-right:4px;
	margin-left:4px;
	color: #FFFFFF;
}

.edit_icon {
	font-size:14px;
	cursor:pointer;
	margin-right:6px;
	margin-top:4px;
	color: #006699;
}

.modalbutton
{
	border:0px;
	background-color:#FFFFFF; 
	color: #006699;
	text-decoration: none;
	font-weight: bold;
	padding:0px;
	margin:0px;
	padding-top:20px;
	text-align:left;
	background: #F6F6FF;

}
